# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Python
__pycache__/
*.py[cod]

# Python virtual environments
venv/
.venv/

# Logs
*.log

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/